In [2]:
import pandas as pd

In [36]:
base = ('cereal.csv')

df = pd.read_csv(base)

df.head(10)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

### dessa forma abaixo posso escolher qual ou quais colunas irá aparecer

Mas posso escolher por linhas - df[0:5] posso escolher onde começa até onde termina, é um 'fatiamento'

In [5]:
df[['name', 'calories']]

                         name  calories
0                   100% Bran        70
1           100% Natural Bran       120
2                    All-Bran        70
3   All-Bran with Extra Fiber        50
4              Almond Delight       110
..                        ...       ...
72                    Triples       110
73                       Trix       110
74                 Wheat Chex       100
75                   Wheaties       100
76        Wheaties Honey Gold       110

[77 rows x 2 columns]

In [27]:
df[5:21]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813
10,Cap'n'Crunch,Q,C,120,1,2,220,0.0,12.0,12,35,25,2,1.00,0.75,18.042851
11,Cheerios,G,C,110,6,2,290,2.0,17.0,1,105,25,1,1.00,1.25,50.764999
12,Cinnamon Toast Crunch,G,C,120,1,3,210,0.0,13.0,9,45,25,2,1.00,0.75,19.823573
13,Clusters,G,C,110,3,2,140,2.0,13.0,7,105,25,3,1.00,0.50,40.400208
14,Cocoa Puffs,G,C,110,1,1,180,0.0,12.0,13,55,25,2,1.00,1.00,22.736446
15,Corn Chex,R,C,110,2,0,280,0.0,22.0,3,25,25,1,1.00,1.00,41.445019
16,Corn Flakes,K,C,100,2,0,290,1.0,21.0,2,35,25,1,1.00,1.00,45.863324
17,Corn Pops,K,C,110,1,0,90,1.0,13.0,12,20,25,2,1.00,1.00,35.782791
18,Count Chocula,G,C,110,1,1,180,0.0,12.0,13,65,25,2,1.00,1.00,22.396513
19,Cracklin' Oat Bran,K,C,110,3,3,140,4.0,10.0,7,160,25,3,1.00,0.50,40.448772
20,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816

### Posso selecionar linha e colunas por dois métodos:
    'iloc' pega por ídices
    'loc' pega por nomes

In [9]:
df.iloc[2:10, 2:5]

  type  calories  protein
2    C        70        4
3    C        50        4
4    C       110        2
5    C       110        2
6    C       110        2
7    C       130        3
8    C        90        2
9    C        90        3

In [10]:
df.loc[:, ['name', 'carbo']]

                         name  carbo
0                   100% Bran    5.0
1           100% Natural Bran    8.0
2                    All-Bran    7.0
3   All-Bran with Extra Fiber    8.0
4              Almond Delight   14.0
..                        ...    ...
72                    Triples   21.0
73                       Trix   13.0
74                 Wheat Chex   17.0
75                   Wheaties   17.0
76        Wheaties Honey Gold   16.0

[77 rows x 2 columns]

In [17]:
df[df['rating'] > 70]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
64,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.0,0.67,74.472949
65,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.0,0.67,72.801787

In [29]:
df[(df['mfr'] == 'N') & (df['type'] == 'H')]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
20,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.0,1.0,64.533816

In [32]:
df[df['mfr'].isin(['R', 'N', 'A'])]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
15,Corn Chex,R,C,110,2,0,280,0.0,22.0,3,25,25,1,1.00,1.00,41.445019
20,Cream of Wheat (Quick),N,H,100,3,0,80,1.0,21.0,0,-1,0,2,1.00,1.00,64.533816
23,Double Chex,R,C,100,2,0,190,1.0,18.0,5,80,25,3,1.00,0.75,44.330856
43,Maypo,A,H,100,4,1,0,0.0,16.0,3,95,25,2,1.00,1.00,54.850917
44,Muesli Raisins; Dates; & Almonds,R,C,150,4,3,95,3.0,16.0,11,170,25,3,1.00,1.00,37.136863
45,Muesli Raisins; Peaches; & Pecans,R,C,150,4,3,150,3.0,16.0,11,170,25,3,1.00,1.00,34.139765
61,Rice Chex,R,C,110,1,0,240,0.0,23.0,2,30,25,1,1.00,1.13,41.998933
63,Shredded Wheat,N,C,80,2,0,0,3.0,16.0,0,95,0,1,0.83,1.00,68.235885
64,Shredded Wheat 'n'Bran,N,C,90,3,0,0,4.0,19.0,0,140,0,1,1.00,0.67,74.472949
65,Shredded Wheat spoon size,N,C,90,3,0,0,3.0,20.0,0,120,0,1,1.00,0.67,72.801787
68,Strawberry Fruit Wheats,N,C,90,2,0,15,3.0,15.0,5,90,25,2,1.00,1.00,59.363993
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.00,0.67,49.787445

In [4]:
df.head(10)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.00,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.00,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.00,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.00,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.00,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813

### O 'grupby' precisa saber pelo menos duas colunas:
    a principal coluna
    a coluna para ser comparada 
    e precisa colocar uma função para retornar algum valor( soma, média, subtração . . . )

In [8]:
df.groupby('type')['calories'].mean()

type
C    107.162162
H    100.000000
Name: calories, dtype: float64

### Posso colocar mais de uma coluna para agrupar

In [9]:
df.groupby('mfr')[['calories', 'rating']].mean()

       calories     rating
mfr
A    100.000000  54.850917
G    111.363636  34.485852
K    108.695652  44.038462
N     86.666667  67.968567
P    108.888889  41.705744
Q     95.000000  42.915990
R    115.000000  41.542997

### Posso reordenar por valores, em ordem crescente ou decrescente !!

In [13]:
df.groupby('mfr')[['calories', 'rating']].mean().sort_values(by='calories', ascending=True) # 'by' traduzido 'por'

       calories     rating
mfr
N     86.666667  67.968567
Q     95.000000  42.915990
A    100.000000  54.850917
K    108.695652  44.038462
P    108.888889  41.705744
G    111.363636  34.485852
R    115.000000  41.542997

### O 'describe' pode ser aplicado em uma coluna específica, não somente na tabela inteira

In [14]:
df.groupby('mfr')['calories'].describe()

     count        mean        std    min    25%    50%    75%    max
mfr
A      1.0  100.000000        NaN  100.0  100.0  100.0  100.0  100.0
G     22.0  111.363636  10.371873  100.0  110.0  110.0  110.0  140.0
K     23.0  108.695652  22.218818   50.0  100.0  110.0  115.0  160.0
N      6.0   86.666667  10.327956   70.0   82.5   90.0   90.0  100.0
P      9.0  108.888889  10.540926   90.0  100.0  110.0  120.0  120.0
Q      8.0   95.000000  29.277002   50.0   87.5  100.0  120.0  120.0
R      8.0  115.000000  22.677868   90.0  100.0  110.0  120.0  150.0

### Agrupar mais de uma coluna principal

#### explicação: As letras (A,G,K,N,P,Q,R) são abreviação dos nomes das empresas. E as letras (H = quente, C = frio)

In [15]:
df.groupby(['mfr', 'type'])['calories'].describe()

          count        mean        std    min    25%    50%    75%    max
mfr type
A   H       1.0  100.000000        NaN  100.0  100.0  100.0  100.0  100.0
G   C      22.0  111.363636  10.371873  100.0  110.0  110.0  110.0  140.0
K   C      23.0  108.695652  22.218818   50.0  100.0  110.0  115.0  160.0
N   C       5.0   84.000000   8.944272   70.0   80.0   90.0   90.0   90.0
    H       1.0  100.000000        NaN  100.0  100.0  100.0  100.0  100.0
P   C       9.0  108.888889  10.540926   90.0  100.0  110.0  120.0  120.0
Q   C       7.0   94.285714  31.547394   50.0   75.0  100.0  120.0  120.0
    H       1.0  100.000000        NaN  100.0  100.0  100.0  100.0  100.0
R   C       8.0  115.000000  22.677868   90.0  100.0  110.0  120.0  150.0

In [29]:
df['rating'].value_counts(bins=10,normalize=True).sort_index().mul(100).round(2)

(17.965999999999998, 25.609]     7.79
(25.609, 33.175]                18.18
(33.175, 40.741]                28.57
(40.741, 48.308]                14.29
(48.308, 55.874]                15.58
(55.874, 63.44]                  7.79
(63.44, 71.006]                  3.90
(71.006, 78.572]                 2.60
(78.572, 86.139]                 0.00
(86.139, 93.705]                 1.30
Name: proportion, dtype: float64

### Remover coluna(s)

### nome_da_colunas.drop(columns=['type'])

In [33]:
df_sem_type = df.drop(columns=['type', 'fat'])

df_sem_type

,name,mfr,calories,protein,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,70,4,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,120,3,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,70,4,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,50,4,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,110,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,110,2,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,110,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,100,3,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,100,3,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,110,2,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [35]:
df_sem_type.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   calories  77 non-null     int64
 3   protein   77 non-null     int64
 4   sodium    77 non-null     int64
 5   fiber     77 non-null     float64
 6   carbo     77 non-null     float64
 7   sugars    77 non-null     int64
 8   potass    77 non-null     int64
 9   vitamins  77 non-null     int64
 10  shelf     77 non-null     int64
 11  weight    77 non-null     float64
 12  cups      77 non-null     float64
 13  rating    77 non-null     float64
dtypes: float64(5), int64(7), object(2)
memory usage: 8.6+ KB

In [37]:
df_sem_type.to_csv('cereal_mod')

###           Criar colunas

In [38]:
df_sem_type['ojeda'] = df_sem_type['carbo'] + df_sem_type['sugars']

df_sem_type

,name,mfr,calories,protein,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,ojeda
0,100% Bran,N,70,4,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,11.0
1,100% Natural Bran,Q,120,3,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,16.0
2,All-Bran,K,70,4,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,12.0
3,All-Bran with Extra Fiber,K,50,4,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,8.0
4,Almond Delight,R,110,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,110,2,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174,24.0
73,Trix,G,110,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301,25.0
74,Wheat Chex,R,100,3,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445,20.0
75,Wheaties,G,100,3,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193,20.0
76,Wheaties Honey Gold,G,110,2,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559,24.0